body{
    margin: 0;
}

.wrapper{
    background-image: linear-gradient(#40427A, #8F8BA4);
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas:
    "l1 m1 r1"
    "l2 m2 r2"
    "l3 m3 r3"
    "l4 m4 r4" ;
}

header{
    background-color: #7E2121;
    height: 53.27px;
    width: 61.52px;
    margin: 0;
    border-bottom-right-radius: 80%;
    position: fixed;
    top: 0;
    left: 0;
}

i.material-icons{
    font-size:50px;
    margin: 0;
}

figure{
    background-color: #B8072F;
    width: 189px;
    height: 84px;
    margin: 0;
    grid-area: m2;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 13px;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}