body{
    margin: 0;
}

#longwrapper{
    height: 200vh;
    grid-template-rows: 70px 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "l1 m1 r1"
    "l2 m2 r2"
    "l3 m3 r3"
    "l4 m4 r4"
    "l5 m5 r5"
    "l6 m6 r6" ;
}

#homewrapper{
    background-color: none;
    background-image: linear-gradient(#40427A, #8F8BA4);
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas:
    "l1 m1 r1"
    "l2 m2 r2"
    "l3 m3 r3"
    "l4 m4 r4" ;
}

.wrapper{
    background-color: #8F8BA4;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "l1 m1 r1"
    "l2 m2 r2"
    "l3 m3 r3"
    "l4 m4 r4" ;
}

header{
    background-color: #7E2121;
    height: 53.27px;
    width: 203px;
    margin: 0;
    border-bottom-right-radius: 40px;
    position: fixed;
    top: 0;
    left: -141px;
    z-index: 10;
    transition: left 0.1s;
    transition-delay: 0.1s
}

.menulines{
    width: 149px;
    background-image: url("../img/Linjer.png");
    height: 122px;
    position: fixed;
    top: -122px;
    z-index: 8;
    transition-property: top;
    transition-duration: 0.055s;
}

i.material-icons{
    font-size:50px;
    margin-right: 10px;
    margin-left: 0;
    margin-bottom: 5px;
    margin-top: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

figure{
    background-color: #B8072F;
    width: 189px;
    height: 84px;
    margin: 0;
    grid-area: m2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#starttext{
    font-size: 13px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

article{
    background-color: #EAE8FA;
    width: 300px;
    height: 500px;
    border-radius: 30px;
    justify-self: center;
    grid-area: m2;
    justify-content: center;
    align-items: center;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "title title2 title3"
    "g1 g2 g3"
    "g4 g5 g6"
    "g7 g8 g9"
    "g10 g11 g12" ;

}

#historyarticle{
    grid-area: m2;
    height: 1240px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 100px;
    grid-template-areas:
    "title title2 title3"
    "gl1 gm1 gr1"
    "sepL1 sepM1 sepR1"
    "gl2 gm2 gr2"
    "sepL2 sepM2 sepR2"
    "gl3 gm3 gr3"
    "sepL3 sepM3 sepR3"
    "gl4 gm4 gr4"
    "sepL4 sepm4 sepR4"
    "gl5 gm5 gr5"
    "freespace1 freespace2 freespace3 " ;

}

.storyseperator{
    background-color: rgba(90, 90, 90, 0.5) ;
    width: 100%;
    height: 10px;
    grid-area: sepL1;
    grid-column: span 3;
}
#storysep2{
    grid-area: sepL2;
    grid-column: span 3;
}
#storysep3{
    grid-area: sepL3;
    grid-column: span 3;
}
#storysep4{
    grid-area: sepL4;
    grid-column: span 3;
}

.tomte{
    background-image: url("../img/Tomten-med-hjul-mobile.png");
    width: 120px;
    height: 175px;
    grid-area: gr1;
    position: relative;
    top: -30px;
    border-radius: 15px;
}

.träd{
    width: 375px;
    height: 500px;
    position: absolute;
    top: 20%;
    background-image: url("../img/Trees-bunch-mobile.png")

}

.storybox{
    background-image: url("../img/Webpage-first-image-mobile.gif");
    width: 300px;
    height: 250px;
    grid-area: gl2;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "q1 q2"
    "q3 q4" ;
}

#story2{
    grid-area: gl3;
    grid-column: span 3;
    background-image: url("../img/Webpage-second-mobile.gif");
}
#story3{
    grid-area: gl4;
    grid-column: span 3;
    background-image: url("../img/Webpage-third-mobile.gif");
}
#story4{
    grid-area: gl5;
    grid-column: span 3;
    background-image: url("../img/Webpage-fourth-mobile.png");
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.texttitle{
    background-color: #EFF8FB;
    width: 145px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: 1;
    grid-area: title;
    grid-column: span 3;
    left: 5%;
    top: -10px;
}


a,a:visited{
    color: white;
    text-decoration: none;
}

.activate{
    top: 0;
    left: 0;
    transition: left 0.1s;
}

.linedown{
    top: 53.27px;
    transition-property: top;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

.Menubox1{
    width: 150px;
    height: 34.75px;
    background-color: #672044;
    border-radius: 15px;
    margin-bottom: 4px;
    margin-top: 4px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    top: -90px;
    transition-property: top;
    transition-duration: 0.055s;
    z-index: 9;
}

.Menubox2{
    width: 150px;
    height: 34.75px;
    background-color: #672044;
    border-radius: 15px;
    margin-bottom: 4px;
    margin-top: 4px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    top: -110px;
    transition-property: top;
    transition-duration: 0.055s;
    z-index: 9;
}

.Menubox3{
    width: 150px;
    height: 34.75px;
    background-color: #672044;
    border-radius: 15px;
    margin-bottom: 4px;
    margin-top: 4px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    top: -120px;
    transition-property: top;
    transition-duration: 0.055s;
    z-index: 9;
}

.ho{
    top: 49.75px;
    transition-property: top;
    transition-duration: 0.8s;
    transition-delay: 0.5s;
    transition-timing-function: cubic-bezier(1,1.55,.45,.78);
}

.hi{
    top: 86.5px;
    transition-property: top;
    transition-duration: 0.8s;
    transition-delay: 0.3s;
    transition-timing-function: cubic-bezier(1,1.55,.45,.78);
}

.ab{
    top: 124.25px;
    transition-property: top;
    transition-duration: 0.8s;
    transition-delay: 0.1s;
    transition-timing-function: cubic-bezier(1,1.55,.45,.78);
}

p{
    font-size: 16px;
    margin: 5px;
}

#abtext{
    grid-area: g1;
    grid-column: span 3;
    margin: 30px;
    line-height: 1.5;
}

#text2{
    grid-area: m2;
}

#beskrivning{
    grid-area: gl1;
    grid-column: span 2; 
    margin: 15px;
}

.textbox{
    background-color: rgba(253, 253, 253, 0.5);
    margin: 13px;
    border-radius: 10px;
}

#uppfinning{
    grid-area: q1;
    grid-column: span 0;
}

#presenter{
    grid-area: q1;
    grid-column: span 0;
}

#kopp{
    grid-area: q4;
    grid-column: span 0;
}

#dod{
    grid-area: q1;
    grid-column: span 0;
}

@media only screen and (min-width: 768px){
    .wrapper{
        height: 100vh;
        width: 100vw;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "A1 B1 C1 D1 E1 "
        "A2 B2 C2 D2 E2 "
        "A3 B3 C3 D3 E3 "
        "A4 B4 C4 D4 E4 " ;
    }

    #homewrapper{
        width: 100vw;
        background-color: none;
        background-image: linear-gradient(#40427A, #8F8BA4);
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "A1 B1 C1 D1 E1 "
        "A2 B2 C2 D2 E2 "
        "A3 B3 C3 D3 E3 "
        "A4 B4 C4 D4 E4 "
        "A5 B5 C5 D5 E5" ;
    }

    figure{
        width: 100%;
        height: 90%;
        grid-area: C2;
    }

    #starttext{
        font-size: 18px;
        margin: 15px;
    }

    .träd{
        width: 1280px;
        height: 600px;
        position: absolute;
        top: 0;
        background-image: url("../img/Treesbunch-desktop.png")
    }

    article{
        width: 800px;
        height: 400px;
        grid-area: C2;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20px 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "title title2 title3"
        "g1 g2 g3"
        "g4 g5 g6"
        "g7 g8 g9"
        "g10 g11 g12" ;
    }
    
    #longwrapper{
        height: 200vh;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "A1 B1 C1 D1 E1 "
        "A2 B2 C2 D2 E2 "
        "A3 B3 C3 D3 E3 "
        "A4 B4 C4 D4 E4 "
        "A5 B5 C5 D5 E5" ;
    }

    #historyarticle{
        grid-area: C2;
        height: 1240px;
        width: 900px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 100px;
        grid-template-areas:
        "title title2 title3"
        "gl1 gm1 gr1"
        "sepL1 sepM1 sepR1"
        "gl2 gm2 gr2"
        "sepL2 sepM2 sepR2"
        "gl3 gm3 gr3"
        "sepL3 sepM3 sepR3"
        "gl4 gm4 gr4"
        "sepL4 sepm4 sepR4"
        "gl5 gm5 gr5"
        "freespace1 freespace2 freespace3 " ;
    }

    .tomte{
        background-image: url("../img/Tomten-med-hjul-desktop.png");
        width: 300px;
        height: 375px;
        grid-area: gr1;
        position: relative;
        top: -50px;
        border-radius: 15px;
    }
}